<section>
    <div ng-include src="'/static/views/navbar.html'"></div>
    <section class="map-container">
        <sf-muni-map></sf-muni-map>
    </section>

    <!-- LIST ROUTES -->
    <aside class="routes-list-container" ng-class="{'visible' : routesListVisible}">
        <ul class="routes-list list-group">
            <li ng-repeat="(key, route) in routes.getAll()" class="route-item route-{{key}} list-group-item" ng-class="{ 'selected' : route.getSelected() }"
                ng-click=toggleRoute(route)>
                {{route.getTitle()}}
            </li>
        </ul>
    </aside>

</section>