<section class="home-page">
    <div ng-include src="'/static/views/navbar.html'"></div>
    
    <section class="home-background"></section>
    <section class="thumbnails-map container-fluid">
        <div class="row">
           <div class="col-sm-4 thumbnails" ng-repeat="mapProperty in mapsProperties">
               <bus-map mapconfig="mapProperty.mapConfig" 
                        busservice="mapProperty.busService"  
                        mapservice="mapProperty.mapService"
                        static="mapProperty.static"
                        svgid="mapProperty.key"></bus-map>
            </div>
        </div>
    </section>


</section>