<section>
    <!--<div ng-include src="'/static/views/navbar.html'"></div>-->
    <navbar on-toggle-routes="toggleRoutesList()" cities="cities" routes="routes" routes-visible="routesListVisible"></navbar> 
    
    <!-- MAP CONTAINER-->
    <section class="map-container">
       <bus-map mapconfig="mapConfig" map="map" pan="pan" zoom="zoom" busservice="busService"  mapservice="mapService"></bus-map>
    </section>

    <!-- LIST ROUTES-->
    <list-routes routes-visible="routesListVisible" routes="routes" on-toggle-route="toggleRoute"></list-routes>

    
</section>