
.info-panel {

    bottom : -1000px;
    position : absolute;
    
    left : 30px;
    width : 300px;
    background-color : white;
    box-shadow : 1px 2px 4px #999;
    border-radius : 4px;

    -webkit-transition: bottom 500ms cubic-bezier(0.730, 0.420, 0.280, 1); /* older webkit */
    -webkit-transition: bottom 500ms cubic-bezier(0.730, 0.420, 0.280, 1.005); 
       -moz-transition: bottom 500ms cubic-bezier(0.730, 0.420, 0.280, 1.005); 
         -o-transition: bottom 500ms cubic-bezier(0.730, 0.420, 0.280, 1.005); 
            transition: bottom 500ms cubic-bezier(0.730, 0.420, 0.280, 1.005); /* custom */
    
}

.info-panel.visible{
    bottom: 30px;
}

.info-panel .tag-route {
    width: 80px;
    height: 80px;
    margin: 20px auto;
    line-height: 80px;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 4px #000;
    border-radius: 4px;
}

.info-panel .speed {
    margin: 20px auto;
    height: 80px;
    text-align: center;
}

.info-panel .speed strong {
    font-size: 4em;
}
